Source: irtk
Priority: optional
Maintainer: Debian Med Packaging Team <debian-med-packaging@lists.alioth.debian.org>
Uploaders: Ghislain Antony Vaillant <ghisvail@gmail.com>
Build-Depends:
 cmake (>= 2.6),
 debhelper (>= 9),
 doxygen,
 freeglut3-dev,
 libboost1.48-dev | libboost-dev (>> 1.48.0.2),
 libfltk1.3-dev,
 libfontconfig1-dev,
 libgsl0-dev,
 libjpeg-dev,
 libpng-dev,
 libtbb-dev,
 libvtk5-dev,
 libxft-dev,
 libxi-dev,
 libxinerama-dev,
 libxmu-dev,
 zlib1g-dev
Standards-Version: 3.9.5
Section: science
Homepage: https://github.com/BioMedIA/IRTK
Vcs-Git: git://anonscm.debian.org/debian-med/irtk.git 
Vcs-Browser: https://anonscm.debian.org/cgit/debian-med/irtk.git

Package: irtk
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends}
Suggests:
 irtk-doc
Description: Binaries for ITK
 The Image Registration Toolkit
 .
 This package provides the binaries.

Package: irtk-doc
Section: doc
Architecture: all
Depends:
 ${misc:Depends}
Description: Documentation for ITK
 The Image Registration Toolkit
 .
 This package provides the documentation.
