#!/usr/bin/make -f

# output every command that modifies files on the build system.
DH_VERBOSE = 1

# out-of-tree build
BUILDDIR = $(CURDIR)/debian/build

# for versioned package
IRTK_MAJOR_VERSION = 1.0

%:
	dh $@ --buildsystem=cmake --builddirectory=$(BUILDDIR) --parallel

override_dh_auto_configure:
	dh_auto_configure -- \
		-DCMAKE_INSTALL_PREFIX=/usr \
		-DBUILD_CARDIAC=OFF \
		-DBUILD_CONDOR_EXE=OFF \
		-DBUILD_DOCUMENTATION=ON \
		-DBUILD_TESTS=OFF \
		-DBUILD_WITH_NIFTI=OFF \
		-DBUILD_WITH_OPENCV=OFF \
		-DBUILD_WITH_PNG=ON \
		-DBUILD_WITH_TBB=ON \
		-DBUILD_WITH_VTK=ON \
		-DWRAP_CYTHON=OFF \
		-DWRAP_PYTHON=OFF

override_dh_auto_build:
		dh_auto_build
		# Generate debhelper .install file to install the IRTK 
		# executables to a private versioned location.
		touch debian/irtk$(IRTK_MAJOR_VERSION).install
		echo "/usr/bin/* /usr/lib/irtk$(IRTK_MAJOR_VERSION)" > debian/irtk$(IRTK_MAJOR_VERSION).install	
		# Generate debhelper .links file to create the versioned 
		# symlinks to the IRTK executables.
		for f in $$(find $(BUILDDIR)/bin \! -type d | sort); do \
				bname=$$(basename $$f); \
				echo "/usr/lib/irtk$(IRTK_MAJOR_VERSION)/$$bname /usr/bin/irtk$(IRTK_MAJOR_VERSION)-$$bname" >> debian/irtk$(IRTK_MAJOR_VERSION).links; \
		done
		# Make doxygen documentation
		cd $(BUILDDIR) && $(MAKE) doc

override_dh_auto_clean:
	dh_auto_clean
	rm -rf $(BUILDDIR)
